<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:qws="http://www.qws.com/schema/user"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.qws.com/schema/user http://www.qws.com/schema/user.xsd
">

    <qws:user id="qws" username="qian" email="qian@qws.com" password="123456"></qws:user>
</beans>